.login {
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column; 
    justify-content: center;
  }
  
  .lContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .title {
    /* width: 400px; */
    /* margin: auto; */
  }

  .questionDesc {
    margin-bottom: 3rem;
  }

  .queTitle {
    margin: 1rem 0;
  }

  .lTitle {
    width: 300px;
  }

  
  .lInput{
    height: 30px;
    padding: 10px;
  }

  .lQuestion {
    width: 930px;
  }
  
  .lButton {
    border: none;
    padding: 10px 20px;
    background-color: #0071c2;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 1rem;
  }
  
  .lButton:disabled{
    background-color: #0071c28c;
    cursor: not-allowed;
  }

  @media screen and (max-width: 720px) {
    .lQuestion {
      width: 300px;
    }

    .login {
      height: 100vh;
      display: flex;
      align-items: center;
      flex-direction: column; 
      justify-content: center;
    }
    .lContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 10px;
    }
  }